@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  }

  .purple {
    color:rgb(96, 48, 177);
  }

.navbar {
    display: flex;
    align-items: center;
    padding: 0px  50px;
    font-size: 18px;
    font-weight: 500;
}

.navbar .logo {
    height: 40px;
    width: 150px;
}

.align-center {
    align-items: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.navbar .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.navbar .link {
    position: relative;
}

.navbar .router-link-exact-active {
    color: rgb(96, 48, 177) !important;
}

.navbar a {
    color: rgb(10, 31, 68) !important;
    text-decoration: none;
}

a.btn-contact {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35s ease;
}

a.btn-contact:hover {
    background-color: #5d3eff;
}

h1 {
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #6030b1;
    text-align: center;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 50px;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(10, 31, 68);
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.input__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

input {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    width: 100%;
    width: 600px;
    font-size: 24px;
}

button.not-loading {
    border: 1px solid #6030b1;
    background-color: #6030b1;
    box-shadow: 7px 7px 14px rgba(134, 93, 204, .3);
    cursor: pointer;
}

button {
    width: 150px;
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    transform: all .25 ease;
}

button:hover {
    background-color: #ff1493;
    border-color: #ff1493;
}

.building {
    margin-left: 500px;
    margin-top: 40px;
    height: 50vh;
    
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-col {
    flex-direction: column !important;
}

.flex {
    display: flex !important;
}

.navbarr {
    height: 326px;
    padding: 40px 15px;
    background-color: grey;
    align-items: center;
    position: relative;
}

.navbarr .logo {
    height: 40px;
    width: 150px;
}